@import url(../styles/fonts/fonts.css);

.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  padding: 136px 0px 0px 262px;
}

.header__info {
  padding-bottom: 128px;
}

.header__title {
  position: relative;
  max-width: 420px;
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.44px;
  z-index: 2;
  margin: 78px 0px 48px 0px;
}

.header__description {
  max-width: 465px;
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin: 0px 0px 44px 0px;
}

.header__price-last {
  width: 79px;
  min-height: 33px;
  position: relative;
  z-index: 1;
  border-radius: 500px;
  background: radial-gradient(
    141.42% 141.42% at 100% -0%,
    #e0b8ff 0%,
    #b6b9ff 100%
  );
  padding: 7px 0px 0px 20px;
  display: inline-block;
  color: #2e2c21;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.header__price {
  display: inline-block;
  width: 70px;
  height: 33px;
  color: #808080;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-decoration: line-through;
  padding: 10px 0px 0px 85px;
  position: relative;
  top: -5px;
  left: -65px;
  border-radius: 500px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0.63) 100%
    ),
    radial-gradient(141.42% 141.42% at 100% -0%, #e0b8ff 0%, #b6b9ff 100%);
}

.header__button {
  all: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  background: #ffde40;
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  min-width: 318px;
  height: 65px;
  color: #21201f;
  text-align: right;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.22;
  background: var(
    --linear,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%)
  );
}

.header__logo {
  width: 176px;
  height: 50px;
  z-index: 1;
  position: relative;
}

.header__scooter {
  z-index: 1;
  position: absolute;
  top: 44px;
  right: 74px;
  background-image: url(../images/smkt0003\ 2.png);
  width: 805px;
  height: 645px;
  transform: rotate(-8.008deg);
}

.header__community {
  position: absolute;
  z-index: 2;
  top: 403px;
  right: 435px;
  width: 195.344px;
  height: 195.344px;
  transform: rotate(-7.8deg);
  background-image: url(../images/Rectangle.png);
}

.bonus {
  padding: 0px 304px 0px 262px;
  margin: 128px;
}

.bonus__title {
  margin: 0px 0px 48px 0px;
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.12px;
}

.bonus__list {
  all: unset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 112px;
  row-gap: 61px;
}

.bonus__list-block {
  all: unset;
}

.bonus__description {
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.exclusive {
  padding-left: 262px;
  margin-bottom: 105px;
  box-sizing: border-box;
}

.exclusive__title {
  max-width: 827px;
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.96px;
  margin: 0px 0px 48px;
}

.exclusive__list {
  all: unset;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(1, min-content);
  column-gap: 15px;
}

.exclusive__block {
  all: unset;
  position: relative;
}

.exclusive__block_place_left {
  padding-top: 50px;
}

.exclusive__savagery-top {
  display: block;
  background-image: url(../images/cfee0016.svg);
  width: 270px;
  height: 200px;
  object-fit: cover;
  position: absolute;
  top: -105px;
  left: 230px;
}

.exclusive__savagery-botton {
  display: block;
  background-image: url(../images/smkt0010\ 6.svg);
  width: 420px;
  height: 500px;
  object-fit: cover;
  position: absolute;
  top: 650px;
  left: 100px;
}

.exclusive__savagery-left {
  display: block;
  background-image: url(../images/smkt0008\ 2.svg);
  width: 420px;
  height: 500px;
  object-fit: cover;
  position: absolute;
  top: 160px;
  left: -250px;
}

.exclusive__description {
  width: 442px;
  color: #21201f;
  font-family: "YS Text", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0px 0px 70px 0px;
}

.exclusive__foto {
  width: 456px;
  height: 456px;
  border-radius: 95px;
}

.pay {
  padding-left: 167px;
}

.pay__list {
  all: unset;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
}

.pay__foto{
  width: 423px;
  height: 423px;
  object-fit: cover;
}
