@import url(../styles/fonts/fonts.css);

.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  padding: 136px 0px 0px 262px;
}

.header__info {
}

.header__title {
  position: relative;
  max-width: 420px;
  color: #21201f;
  font-family: "YS Text";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 72px */
  letter-spacing: -1.44px;
  z-index: 2;
  margin: 78px 0px 0px 0px;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.22;
  background: var(
    --linear,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(90deg, #ff5c4d 0%, #eb469f 25%, #8341ef 72%, #3f68f9 100%)
  );
}

.header__logo {
  width: 176px;
  height: 50px;
  z-index: 1;
  position: relative;
}

.header__scooter {
  z-index: 1;
  position: absolute;
  top: 44px;
  right: 74px;
  background-image: url(../images/smkt0003\ 2.png);
  width: 805px;
  height: 645px;
  transform: rotate(-8.008deg);
}
